Давайте посмотрим, какими компетенциями вы обладаете\!

Вы можете ввести *через запятую* все технологии, принципы и навыки, которыми вы обладаете \- все они будут учтены при генерации темы дипломной работы\.

*Например:*
```
Java, Spring boot, React, Python
``` или
```
UI, UX, Верстка, HTML, CSS
```

*Теперь введите ваши компетенции:*