*Привет, {{firstName}} {{lastName}}\! 🎉*

*Мы нашли всю необходимую информацию о Вас и готовы приступить\!*
• Учебная группа: {{groupName}}
• Курс: {{course}}
• Направление подготовки: {{department}}
• Уровень образования: {{degreeLevel}}